<!-- views/index.ejs -->

<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <div id="logo"><img src="images/logo.png">CarRental</div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/cars">Our cars</a>
                <li><a href="/rent">Rent a car</a>
                <li><a href="/rentals">Rented cars</a>
            </ul>
        </nav>
    </header>
    <section>
        <strong>Admin panel</strong>
    </section>
    <section id="pageContent">
        <% for(var i=0; i < rentals.length; i++) { %>
        <article>

            <aside>
                <form method="post" action="/modify/<%= rentals[i].rental_id%>">
                    <button style="height:30px;width:60px">Modify</button>
                </form>
                <br><form method="post" action="/rentals/cancel/<%= rentals[i].rental_id%>">
                    <button style="height:30px;width:60px;color:red">Cancel</button>
                </form>
            </aside>
            <h1>Id: <%= rentals[i].rental_id %></h1>
            <br>
            <i>Reg number: <%=rentals[i].rental_car_fk.reg_no%></i>
            <br>
            <% if(rentals[i].accepted) { %>
            <label style="color:green;font-weight: bold">ACCEPTED</label>
            <% } else { %>
            <label style="color:blue">Waiting for confirmation..</label>
            <% } %>
            <br>
            <br>
            <form method="post" action="/admin/accept/<%= rentals[i].rental_id%>">
                <button style="height:30px;width:150px;color:green">Accept</button>
            </form>

        </article>
        <% } %>
    </section>
</body>
</html>

