<!-- views/index.ejs -->

<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <div id="logo"><img src="images/logo.png">CarRental</div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/cars">Our cars</a>
                <li><a href="/rent">Rent a car</a>
                <li><a href="/rentals">Rented cars</a>
            </ul>
        </nav>
    </header>
    <section>
        <strong>Modify</strong>
    </section>
    <section id="pageContent">
        <article>
            <h1>Rental number: <%=rental.rental_id%></h1>
        </article>
        <article>
            <% var date_in = new Date(rental.date_in) %>
            <% var date_out = new Date(rental.date_out) %>
            <form method="post" action="/modify/<%=rental.rental_id%>/dates">
                <label for="receipt_date">Date of receipt:</label>
                <input type="date" name="receipt_date" value=<%=date_in.toISOString().slice(0,10)%>>
                <label for="return_date"> Date of return:</label>
                <input type="date" name="return_date" value=<%=date_out.toISOString().slice(0,10)%>>
                <input type="submit" value="Save">
            </form>
        </article>
    </section>
</body>
</html>

