<!-- views/index.ejs -->

<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script>
		$(function() {
			$('#datepick').datepicker();
		});
    </script>
</head>
<body>
    <header>
        <div id="logo"><img src="images/logo.png">CarRental</div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/cars">Our cars</a>
                <li><a href="/rent">Rent a car</a>
                <li><a href="/rentals">Rented cars</a>
            </ul>
        </nav>
    </header>
    <section>
        <strong>Rent a car</strong>
    </section>
    <section id="pageContent">
        <article>
            <form method="post" action="/rent/dates">
                <label for="receipt_date">Date of receipt:</label>
                <input type="date" name="receipt_date">
                <label for="return_date"> Date of return:</label>
                <input type="date" name="return_date">
                <input type="submit" value="Find">
            </form>
        </article>
        <% for(var i=0; i < cars.length; i++) { %>
            <article>
                <h1><%= cars[i].car_type_fk.mark %> <%= cars[i].car_type_fk.model %> (<%= cars[i].car_type_fk.year%>)</h1>
                <br>
                        <b><%= cars[i].rate * days%> PLN</b>
                        (<%= cars[i].rate %> PLN / day)
                        <img src="images/cars/<%= cars[i].car_photo_fk.photo %>" width="200" height="150">
                <aside>
                    <form method="post" action="/rent/car/<%= cars[i].car_id%>">
                        <button style="height:60px;width:100px">Reserve</button>
                    </form>
                </aside>
            </article>
        <% } %>
    </section>
</body>
</html>

